* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(171, 156, 156);
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  min-height: 100vh;
}


.page {
  width: 100%;
  min-height: 100vh;
}